<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express / Node Mail</title>
</head>
<body>
    <form action="/email/send" method="POST">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="text" name="subject" id="subject" placeholder="Subject">
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input type="submit" value="Send">
    </form>
</body>
</html>