html
  head
    title= "Demo Form"
  body
    h1= "Demo Form"

    form(action='/demo-form', method='POST')
        p
        | title: 
        input(type='text', name='title', value='', required)
        |          email:
        input(type='email', name='email', value='')
        |          imdb: 
        input(type='text', name='imdb', value='')
        input(type='submit', value='Submit')

    if errors
      ul
        each error in errors
          li= error.msg